<!DOCTYPE html>
<html lang=”en”>
<head>
  <title><% if @page_header %><%= @page_header %>  ::  <% end %>Stizelwebs.com </title>
  <%= render 'layouts/structure/header-scripts' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/structure/navigation' %>
<div class="section-page-header">
  <div class="container">
    <%= render 'layouts/structure/page-header' %>
  </div>
</div>
<div class="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= yield %>
      </div>
      <div class="col-md-3">
        <%= render 'layouts/structure/home-right' %>
      </div>
    </div>

  </div>
</div>
<%= render 'layouts/structure/footer' %>
<%= render 'layouts/structure/footer-scripts' %>
<%= render 'layouts/structure/google-analytics' %>
</body>
</html>
